* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Fonts */

@font-face {
  font-family: "Main";
  src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Main";
  src: url(/fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Code";
  src: url(/fonts/SourceCodePro-Regular.ttf);
}

html {
  background-color: #f0f0f0;
}

body {
  color: #000;
  font-family: "Main";
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


/* High-Level */

.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  text-align: left;
}

.page {
  font-size: 1.05em;
  text-align: left;
}


/* Header */

header {
  background-color: inherit;
}

header .wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

header a {
  display: inline-block;
  text-decoration: none;
}

header .site-name {
  display: block;
  font-weight: bold;
  font-size: 3.75em;
}

header nav {
  margin-top: 40px;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

header nav li {
  display: inline-block;
  line-height: 1.5em;
}

header nav a {
  display: block;
  font-weight: bold;
  padding: 0 30px;
  line-height: 40px;
}

header nav a:hover, header nav a.selected {
  color: white;
  background-color: black
}


/* Headings */

h1 {
  margin-bottom: 20px;
  font-size: 1.875em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}


/* Paragraphs */

p {
  margin-bottom: 10px;
}

article p {
  margin-top: 20px;
  font-size: 1.05em;
  line-height: 1.5;
}

section {
  margin-bottom: 40px;
}

.date {
  color: #333;
}


/* Images */

.projects article {
  display: flex;
  align-items: center;
}

.projects article a.icon {
  margin-right: 40px;
}

.projects article .icon img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0;
}

.projects article .description {
  display: block;
}

.home .projects article .icon img {
  width: 100px;
  height: 100px;
}

.home .projects article a.icon {
  margin-right: 20px;
}

.home .projects article .description {
  text-align: center;
  margin: auto;
}

.home .projects article .description p {
  display: none;
}

.home .projects article .description h1 {
  margin: 0;
}

.tagged-with article .icon {
  display: none;
}

article img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}


/* Video */

video {
  margin-top: 20px;
  width: 100%;
  height: auto;
}


/* Links */

a {
  color: inherit;
}


/* Text-alignment */

.text-justify {
  text-align: justify;
}


/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid.compact {
  grid-template-columns: repeat(3, 1fr);
}

.grid>* {
  display: flex;
}


/* Lists */

.item-list>li {
  display: block;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #e3e3e3;
}

.item-list>li:last-child {
  margin-bottom: 0;
}

.item-list h1 {
  margin-bottom: 15px;
  font-size: 1.3em;
}

.item-list p {
  margin-bottom: 0;
}

.item-list a {
  text-decoration: none;
}

.item-list.grid>li {
  margin-top: 0;
}

.item-list .date {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.projects .item-list .date {
  display: none;
}

.home .projects .tag-list {
  display: none;
}


/* Tag List */

.tag-list {
  margin-bottom: 15px;
}

.tag-list li, .tag {
  display: inline-block;
  background-color: #0a0a0a;
  color: #ddd;
  padding: 4px 6px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag-list a, .tag a {
  text-decoration: none;
}

.item-page .tag-list {
  display: inline-block;
}

.content {
  margin-bottom: 40px;
}

.browse-all {
  display: block;
  margin-bottom: 30px;
}

.all-tags li {
  font-size: 1.4em;
  margin-right: 10px;
  padding: 6px 10px;
}


/* Code */

code {
  font-family: "Code", monospace;
}


/* This hack is required since Firefox isn't able to render Source Code Pro */

@supports (-moz-appearance:none) {
  code {
    font-family: monospace;
  }
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre code {
  display: block;
  background-color: #000;
  padding: 15px 20px;
  border-radius: 12px;
  color: #fff;
  line-height: 1.4em;
  font-size: 0.95em;
  overflow-x: auto;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

pre code .s-keyword {
  color: #e83b8e;
}

pre code .s-type {
  color: #8281ca;
}

pre code .s-call {
  color: #348fe5;
}

pre code .s-property {
  color: #21ab9d;
}

pre code .s-number {
  color: #db6f57;
}

pre code .s-string {
  color: #fa641e;
}

pre code .s-comment {
  color: #6b8a94;
}

pre code .s-dotAccess {
  color: #92b300;
}

pre code .s-preprocessing {
  color: #b68a00;
}


/* Footer */

footer {
  color: #333;
  padding-bottom: 20px;
}

footer p {
  margin: 0;
}


/* Theming */

@media (prefers-color-scheme: dark) {
  html {
    background-color: #181818;
  }
  body {
    color: #ddd;
  }
  header nav {
    background-color: black;
  }
  header nav a:hover, header nav a.selected {
    color: black;
    background-color: white
  }
  .item-list>li {
    background-color: #0a0a0a;
  }
  .tag-list li, .tag {
    background-color: #e3e3e3;
    color: #000;
  }
  .date {
    color: #bbb;
  }
  footer {
    color: #bbb;
  }
  pre code {
    background-color: #000;
    color: #fff;
  }
}


/* Responsive */

@media(max-width: 600px) {
  header nav a {
    display: block;
    font-weight: bold;
    padding: 0 30px;
    line-height: 40px;
  }
  .wrapper {
    padding: 40px 20px;
  }
  .grid {
    display: block
  }
  .item-list.grid>li {
    margin-top: 20px;
  }
  .projects article {
    display: block;
  }
  .projects article .icon img {
    margin: 0 auto;
  }
  .projects article h1 {
    text-align: center;
  }
  .projects .tag-list {
    text-align: center;
  }
}

@media(max-width: 420px) {
  header nav a {
    padding: 0 20px;
  }
  section.text-justify {
    text-align: left;
  }
}
